* {
    overflow-x: hidden;
}

body {
    background-image: url("../img/background.png");
}

.nav-icon {
    max-height: 2rem;
}

.vertical-align {
    position: relative;
    top:50%;
    transform: translateY(-50%);
}